
mled/country_studies/zambia/mled_inputs/Zambia_clusters/clusters.cpg
mled/country_studies/zambia/mled_inputs/Zambia_clusters/clusters.dbf
mled/country_studies/zambia/mled_inputs/Zambia_clusters/clusters.prj
mled/country_studies/zambia/mled_inputs/Zambia_clusters/clusters.shp
mled/country_studies/zambia/mled_inputs/Zambia_clusters/clusters.shx
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/clusters.cpg
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/clusters.dbf
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/clusters.prj
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/clusters.shp
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/clusters.shx
mled/.Rhistory
*.tif
*.xml
*.gpkg
online_platform/GC2-Vidi.txt
online_platform/Tableau_trial_link.url
mled/country_studies/nigeria/mled_inputs/Nigeria_clusters/GRID3_Nigeria_Settlement_Extents_Version_01.02..cpg
mled/country_studies/nigeria/mled_inputs/Nigeria_clusters/GRID3_Nigeria_Settlement_Extents_Version_01.02..dbf
mled/country_studies/nigeria/mled_inputs/Nigeria_clusters/GRID3_Nigeria_Settlement_Extents_Version_01.02..prj
mled/country_studies/nigeria/mled_inputs/Nigeria_clusters/GRID3_Nigeria_Settlement_Extents_Version_01.02..shp
mled/country_studies/nigeria/mled_inputs/Nigeria_clusters/GRID3_Nigeria_Settlement_Extents_Version_01.02..shx
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/GRID3_Rwanda_Settlement_Extents%2C_Version_01.01..cpg
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/GRID3_Rwanda_Settlement_Extents%2C_Version_01.01..dbf
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/GRID3_Rwanda_Settlement_Extents%2C_Version_01.01..prj
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/GRID3_Rwanda_Settlement_Extents%2C_Version_01.01..shp
mled/country_studies/rwanda/mled_inputs/Rwanda_clusters/GRID3_Rwanda_Settlement_Extents%2C_Version_01.01..shx
mled/country_studies/rwanda/mled_inputs/scenario_rwanda.r
mled/country_studies/zambia/mled_inputs/crops_cfs_ndays_months.xlsx
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_0.cpg
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_0.dbf
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_0.prj
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_0.shp
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_0.shx
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_1.cpg
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_1.dbf
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_1.prj
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_1.shp
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_1.shx
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_2.cpg
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_2.dbf
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_2.prj
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_2.shp
mled/country_studies/zambia/mled_inputs/gadm40_ZMB_shp/gadm40_ZMB_2.shx
mled/env.RData
mled/results/zambia/clusters_crop_module.Rds
mled/results/zambia/clusters_crop_processing.Rdata
mled/results/zambia/clusters_healthedu.Rdata
mled/results/zambia/clusters_other_productive.Rdata
mled/results/zambia/clusters_pumping_module.Rdata
mled/results/zambia/clusters_residential.Rdata
mled/results/zambia/preliminary_map.qgz
mled/results/zambia/pumps_installation_costs.Rdata
online_platform/idea.docx
online_platform/splitter/.Rhistory
mled/clusters_with_data_2.Rds
online_platform/RE4AFAGRI dashboards_status_and_wishlist.pptx
mled/T.GC_sens.rds
mled/T_sens.rds
mled/archive/tocollect_countryspecific.docx
mled/gadm36_ZMB_0_sp.rds
mled/gadm36_ZMB_1_sp.rds
mled/gadm36_ZMB_2_sp.rds
docs/beta_testing_email.docx
mled/todo.txt
mled/todo.txt
mled/todo.txt
mled/results/zambia/ely_cons_1_km.grd
mled/results/zambia/ely_cons_1_km.gri
mled/todo.txt
mled/uploader.R
*.Rdata
